<div class="navbar">
    <div class="bar">
        <ul>
            <li><a href="#main">Biblio</a></li>
            <li><a href="#team">Our Team</a></li>
            <li><a href="#contacts">Contacts</a></li>
            
            <!-- <li><button class="button" onclick="openPopup()">Sign in</button></li> -->
        </ul>
    </div>
    <div class="button-sign">
        <button routerLink="/profile">Sign in</button>
    </div>
</div>
<search-app></search-app>
<div class="list-container">
    <div class="row">
        <div class="book" onclick="document.location='/book'">
            <img src="https://sun9-78.userapi.com/impg/0DLhSbOu0VN3p7g48PbQrgaPL9B_HovPELc-VQ/icjH35ei6YE.jpg?size=690x1080&quality=95&sign=b3dd06966ffed9a7e531d718be109378&type=album" alt="">
            <div class="book-info">
                <h3>Мастер и Маргарита</h3>
                <p>Булгаков М.А.</p>
                <h4>5</h4>
            </div>
        </div>
        <div class="book">
            <img src="https://sun9-29.userapi.com/impg/fJA6ngHheABBYNKSwYXfOaRganFghR-qKal0JA/q3uScRB4Tkw.jpg?size=480x606&quality=95&sign=51b9e0aa0d70097f44f0df5e53045af6&type=album" alt="">
            <div class="book-info">
                <h3>Мастер и Маргарита</h3>
                <p>Булгаков М.А.</p>
                <h4>5</h4>
            </div>            
        </div>
        <div class="book">
            <img src="https://sun9-78.userapi.com/impg/0DLhSbOu0VN3p7g48PbQrgaPL9B_HovPELc-VQ/icjH35ei6YE.jpg?size=690x1080&quality=95&sign=b3dd06966ffed9a7e531d718be109378&type=album" alt="">
            <div class="book-info">
                <h3>Мастер и Маргарита</h3>
                <p>Булгаков М.А.</p>
                <h4>5</h4>
            </div>
        </div>
        <div class="book">
            <img src="https://sun9-29.userapi.com/impg/fJA6ngHheABBYNKSwYXfOaRganFghR-qKal0JA/q3uScRB4Tkw.jpg?size=480x606&quality=95&sign=51b9e0aa0d70097f44f0df5e53045af6&type=album" alt="">
            <div class="book-info">
                <h3>Мастер и Маргарита</h3>
                <p>Булгаков М.А.</p>
                <h4>5</h4>
            </div>            
        </div>
    </div>
    <div class="filter">

    </div>

</div>